@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
  --color-dark-green: #002b28;
  --color-primary-yellow: #f5da2a;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-outfit);
  background: #dfe4e0;
  color: var(--color-dark-green);
  -webkit-font-smoothing: antialiased;
}
